<h2>Login</h2>
<form role="form">
  <%= form_for(:session, url: sessions_create_path) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, autofocus: true, id: "email", placeholder: "Enter Email" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, id: "pwd", placeholder: "Enter Password" %>
    </div>
      <%= f.submit "Login" %>
  <% end %>
</form>
