<div class="container">


  <br><br>

  <% if logged_in? %>
    <div class="col-md-6">
      <%= link_to "New Post", new_post_path %>
    </div>
  <% end %>

  <div id="calendar">
    <h2 id="month">
      <div class="arrows">
        <div class="show-links past">
          <%= link_to "Past", posts_past_path %>
        </div>

        <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>

        <%=h @date.strftime("%B %Y") %>

        <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>

        <div class="show-links future">
          <%= link_to "Future", posts_upcoming_path %>
        </div>
      </div>
    </h2>
    <%= calendar_for @posts, :year => @date.year, :month => @date.month do |t| %>
      <%= t.head('S', "M", "T", "W", "T", "F", "S") %>
      <%= t.day(:day_method => :date) do |day, posts| %>
        <div class="full-cell">
          <% posts.each do |post| %>
            <div class="date-post jtextfill">
              <%= h(link_to "#{post.title.upcase}", post) %>
            </div>
          <% end %>
          <div class="date-day">
            <%= day.day %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
