<!DOCTYPE html>
<html>
<head>
  <title>Samuel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <%= favicon_link_tag "samuel.png" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
  <div id="wrapper">
      <div class="container">
        <div class="row">
          <div>
            <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
              <div class="topstuff">
                <!-- <%= link_to image_tag("samuel.png", :class =>"img-responsive nav-pic"), root_path %> -->
                <h1>
                  <%= link_to image_tag("samuel.png", class: "hidden-xs") + "Samuel", root_path %>
                  <!-- <div id="sam-click"><%= link_to "About", welcome_about_path %> <div id="sam">SAMUEL</div></div> -->
                </h1>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <footer>
      <br>
      <div class="row">
        <p><%= link_to "Copyright", sessions_new_path %> &copy; samuel.xbt@gmail.com </p>
      </div>
    </footer>

  </body>
</html>
